{% load bootstrap3 %}
<!-- {% load staticfiles %} -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% bootstrap_css %}
		{% bootstrap_javascript %}
	</head>
	<body>
		
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class=container>
				{% if user.is_authenticated %}
				  <a class="navbar-brand" href="{% url 'tweets:index' %}">MyTweets</a>
				  <p class="navbar-text navbar-right"><a href="{% url 'tweets:profile' user.username %}">{{ user }} </a>
				  </p>
				  <p class="navbar-text navbar-right"><a href="{% url 'user_profile:logout' %}">log out </a></p>
				{% else %}
				  <p class="navbar-text navbar-right"><a href="{% url 'user_profile:login' %}">log in </a></p>
				  <p class="navbar-text navbar-right"><a href="{% url 'user_profile:register' %}">register </a></p>
				{% endif %}
			</div>
		</nav>

		
		<div class="container">
			<div class="row">
				{% block head %}{% endblock head %}
			</div>
			<div class="row">
	      	 {% block content %}
	    
	      	 {% endblock content %}
	      	 </div>
	    </div>
	    <nav class="navbar navbar-inverse navbar-fixed-bottom" role"navigation">
	    	<p class="navbar-text">Footer </p>
	    </nav>
	</body>
</html>
